/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19.03.2018, 15:46:22
    Author     : kathr
*/



body {
    
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    width: auto;
    margin: auto;
    
}

header {
    padding: 20px;
    font-weight: bold;
    font-size: 3em;
}

.logo {
   
   text-align: left;
   margin: 5px;
   
}

nav {
    margin: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;

}

#navi {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkgray;
    position: fixed;
    top: 60px;
    right: 15px;
}

#navi li {
    float: left;
    border-right: 1px solid white;
}

#navi li:last-child {
    border-right: none;
}

#navi li a {
    display: block;
    color: black;
    padding: 8px;
    text-decoration: none;
}

#navi li a:hover {
    background-color: darkgreen;
    color: white;
}



#items {
/*    visibility: hidden;*/
    
}

.photo {
/*    display:inline;*/

}

.green_tile {
    border: 20px solid darkgreen;

}

.red_tile {
    border: 20px solid darkred;
}

.green_tile, .red_tile {
    background-color: lightgrey;    
    padding: 10px;
    margin: 10px;
    float:left;
    width: 220px;
    max-height: 260px;
    overflow: hidden;
}

.allgone {
    color: darkred;
}

p {
/*    word-wrap: break-word;*/
}

.title, .availability {
    font-weight: bold;
}

.title {
    display: block;
}

.availability {
    position: relative;
    top: -80px;
    left: 140px;
    background-color: whitesmoke;
    color: darkgreen;
    border: 1px solid darkgray;
    padding: 8px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}
.note {
    font-size: small;
    visibility:hidden;
}



